.body {
  background-color: lightskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
select {
  width: 150px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fitb-section {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}
.main {
  height: 75%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  background-color: lightskyblue;
  color: black;
  border: 2px solid #0e26af;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
.radioimg {
  width: 7vw;
  height: 7vw;
  padding: 1vw;
}
a {
  text-decoration: none;
}
a:link {
  background-color: lightskyblue;
}

a:visited {
  background-color: lightskyblue;
}

a:hover {
  background-color: dodgerblue;
}

a:active {
  background-color: gray;
}

.cell1,
.cell2,
.cell3,
.cell4,
.cell5,
.cell6,
.cell7,
.cell8,
.cell9 {
  display: table-cell;
  width: 106px; /* .33 of the width&height of the picture */
  height: 106px;
  border: 1px solid white;
  background: url("./img/mtns.jpg");
  cursor: pointer;
}

.cellimage1{
  background: url("./img/mtns.jpg");
}
.cellimage2{
  background: url("./img/field.jpg");
}
.cellimage3{
  background: url("./img/beach.jpg");
}
.centerpre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell1 {
  background-position: left top;
}
.cell2 {
  background-position: center top;
}
.cell3 {
  background-position: right top;
}
.cell4 {
  background-position: left center;
}
.cell5 {
  background-position: center center;
}
.cell6 {
  background-position: right center;
}
.cell7 {
  background-position: left bottom;
}
.cell8 {
  background-position: center bottom;
}
.cell9 {
  background: lightskyblue;
  cursor: default;
}
