.body {
  background-color: lightskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  position: fixed;
  width: 10%;
}
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons {
  background-color: lightskyblue;
  color: black;
  border: 2px solid #0e26af;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

a {
  text-decoration: none;
}
a:link {
  background-color: lightskyblue;
}

a:visited {
  background-color: lightskyblue;
}

a:hover {
  background-color: dodgerblue;
}

a:active {
  background-color: gray;
}
