body {
    font-family: Times New Roman, sans-serif;
  }
  
  input {
      border-radius: 2px;
      padding: 5px;
  }
  
  div.button {
      text-align: right;
  }
  
  a {
      text-decoration: none;
      color: #e51;
  }
  img {
  width: 7vw;
  height: 7vw;
  padding: 1vw;
}

  form { 
      width: 800px; 
      margin: auto;
      padding: 2px; 
      border: solid black 1px;	
      border-radius: 2px;  
      box-shadow: 3px 3px 2px #666;
  }